body {
    width: 100%;
    height: 100vh;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          #ffc6cd 0%, 
          #f796b4 25%, 
          #ad83ff 51%, 
          #696ef1 100%
    );  
    animation: AnimateBG 10s ease infinite;
    font-family: Gautami;
    
  }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
 a {
   color: white;
 } 
 a:hover{
   color:aquamarine;
 }
  
